<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Meteo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div th:insert="~{addresses :: navbar}"></div>

    <p th:text="'Adresse demandee : ' + ${adresseP}"></p>
    <p th:text="'Adresse trouvee : ' + ${adresseEtalab.getFeatures()[0].getProperties().getLabel()}"></p>
    <p th:text="'Temperature actuelle : ' + ${instantMeasure.getObservation().getOutside_temperature().getValue()}
    + ${instantMeasure.getObservation().getOutside_temperature().getUnit()} + ' a la station ' + ${instantMeasure.getStation().getName()}">
    </p>
    <br>
    <p th:text="'Previsions :'"></p>
    <p th:text="'Aujourd\'hui : ' + ${WEATHER_CODES.get(dailyForecast[0].getForecast().getWeather())}"></p>
    <p th:text="'Demain : ' + ${WEATHER_CODES.get(dailyForecast[1].getForecast().getWeather())}"></p>
    <p th:text="'Apres-demain : ' + ${WEATHER_CODES.get(dailyForecast[2].getForecast().getWeather())}"></p>
</body>

</html>